/*
Flat UI Colors
#ecf0f1;
#aaa;
#130f0e;
#3498db;
*/

* {
    border: 0;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #999;
}

#bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(escheresque_ste_@2X.png);
}

#content {
    position: absolute;
    z-index: 1;
}

a {
    color: inherit;
}

img {
    display: block;
    margin: auto;
}

button {
    background-color: rgba(19, 15, 14, 0);
}

body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: #313131;
}

.title,
.foo,
.eq,
.home,
.item h2,
.box {
    text-align: center;
}

.title,
.text {
    width: 80%;
    margin: 48px auto;
    padding: 48px;
}

.text {
    background-color: rgba(19, 15, 14, 0.6);
    border-radius: 10px;
}

.text,
i,
button {
    transition-duration: 0.8s;
}

.title {
    padding: 0px !important;
}

h1,
.eq {
    font-weight: 100;
}

h1 {
    font-size: 140px;
}

h2,
button {
    font-size: 24px;
    font-weight: 400;
}

p {
    font-size: 18px;
    color: #aaa;
}

h2,
p,
button {
    text-align: left;
    padding: 24px 48px;
}

.social {
    padding: 64px;
    display: inline;
}

.ico-lightbulb {
    font-size: inherit;
}

.ex {
    display: none;
}

.eq,
.home {
    font-size: 52px;
}

.item {
    width: 30%;
    display: inline-block;
}

.item,
.home {
    margin: 24px;
}

.box {
    vertical-align: middle;
}

.box i {
    font-size: 120px;
}


/*Colors*/

.overview:hover,
button.ov-cont:hover,
#ov-home:hover {
    color: #3498db;
}

.equations:hover,
button.eq-cont:hover,
#eq-home:hover {
    color: #9b59b6;
}

.practice:hover,
button.prac-cont:hover,
#prac-home:hover {
    color: #e67e22;
}

.resources:hover,
button.res-cont:hover,
#res-home:hover {
    color: #2ecc71;
}

.ico-gh:hover {
    color: #4183c4;
}

.highlight {
    background-color: rgba(19, 15, 14, 1);
}

body,
h2,
button {
    color: #ecf0f1;
}