/*
Flat UI Colors
#ecf0f1;
#aaa;
#130f0e;
#3498db;
*/


/*.emphasis {
    font-weight: 900;
    color: #ecf0f1;
} */


/*General*/

* {
    border: 0;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #999;
}

#bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(escheresque_ste_@2X.png);
}

#content {
    position: absolute;
    z-index: 1;
}

a {
    color: inherit;
}

img {
    display: block;
    margin: auto;
}

button {
    background-color: rgba(19, 15, 14, 0);
}

body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: #313131;
}

body,
h2,
button {
    color: #ecf0f1;
}

.title,
.foo,
.eq,
.nav {
    text-align: center;
}

.title,
.text {
    width: 80%;
    margin: 48px auto;
    padding: 48px;
}


/*Content*/

.text {
    background-color: rgba(19, 15, 14, 0.6);
    border-radius: 10px;
}

.text,
.ico-gh,
button {
    transition-duration: 0.8s;
}

.title {
    padding: 0px !important;
}

.title,
button:hover {
    color: #3498db
}

h1,
.eq {
    font-weight: 100;
}

h1 {
    font-size: 140px;
}

h2,
button {
    font-size: 24px;
    font-weight: 400;
}

p {
    font-size: 18px;
    color: #aaa;
}

h2,
p,
button {
    text-align: left;
    padding: 24px 48px;
}

.social {
    padding: 64px;
    display: inline;
}

.ico-gh:hover {
    color: #4183c4;
}

.ico-lightbulb {
    font-size: inherit;
}

.highlight {
    background-color: rgba(19, 15, 14, 1);
}

.ex {
    display: none;
}

.eq {
    font-size: 52px;
}


/*MAGIC*/

.item {
    width: 30%;
    display: inline-block;
    margin: 24px;
}

.item h2,
.box {
    text-align: center;
}

.box {
    height: 100%;
}