/*
Flat UI Colors
#ecf0f1;
#aaa;
#130f0e;
#2ecc71;
#f1c40f;
*/

* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    /*background: url("HubbleNebulaRed.jpg") no-repeat center center fixed;
    background-size: cover;*/
    background: url("escheresque_ste_@2X.png")
}

body {
    color: #ecf0f1;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.title,
.text {
    width: 80%;
    margin: 48px auto;
    padding: 48px;
}

.text {
    background-color: rgba(19, 15, 14, 0.8);
    transition-duration: 0.8s;
}

.highlight {
    background-color: rgba(19, 15, 14, 1);
}

h1 {
    font-size: 80px;
    font-weight: 100;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
    color: #aaa;
}

h2,
p {
    text-align: left;
    padding: 24px 48px;
}

.emphasis {
    font-weight: 900;
    color: #ecf0f1;
}